.row1{
    margin: auto;
          background-color: white;
          display: flex;
          padding: 10px;
          width: 100%;
          flex-direction: row;
          align-items: center;
          justify-content: center;
          box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
          padding-bottom: 20px;
  }
  .updatebtn{
    background-color: rgb(27,50,91);
    font-size: 20px;

}
.updatebtn:hover{
    background-color: rgb(54, 79, 123);
}